.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 2rem 2.4rem;
  font-family: var(--GeistMono);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:link,
.btn:visited {
  color: inherit;
}
.accent,
.accent:link,
.accent:visited {
  background-color: var(--accent);
  color: var(--black);
}

.accent:hover .arrow {
  background-color: var(--black);
  color: var(--white);
}

.black,
.black:link,
.black:visited {
  background-color: var(--black);
  color: var(--white);
}

.black:hover .arrow {
  background-color: var(--white);
  color: var(--black);
}

.navWhite {
  padding: 1.5rem 2rem;
  background-color: var(--white);
  color: var(--black);
}

.arrowContainer {
  background-color: var(--black);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black .arrowContainer {
  background-color: var(--white);
}

.arrow {
  color: var(--white);
  transform: rotate(45deg);
}

.black .arrow {
  color: var(--black);
}

@media (hover: hover) and (pointer: fine) {
  .container:hover .arrow {
    transform: rotate(90deg) translateY(-5px);
  }
}
