.container {
  background-color: var(--black);
}

.parent {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  width: 100%;
  border-top: 1px solid var(--lightGray);
  border-bottom: 1px solid var(--lightGray);
}

.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--white);
  z-index: 1;
}

.dot1 {
  top: 0;
  left: 0;
}

.dot2 {
  top: 0;
  right: 0;
  left: unset;
}

.dot3 {
  bottom: 0;
  left: 0;
  top: unset;
}

.dot4 {
  bottom: 0;
  right: 0;
  top: unset;
  left: unset;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
  flex: 1;
}

.top {
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7rem;
  width: 100%;
  margin-top: auto;
}

.b1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--white);
  max-width: 900px;
}

.accent {
  color: var(--accent);
}

.b2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.b2Left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
}

.copy {
  font-family: var(--GeistMono);
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--gray);
}

.b2Right {
    order: -1
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1268px) {
  .parent {
    padding: 3rem;
  }

  .content {
    gap: 7rem;
  }

  .copyBtnContainer {
    width: 100%;
    margin-top: 3rem;
  }

  .topCopy {
    margin-bottom: 1rem;
  }

  .copy,
  .span {
    font-size: 1.9rem;
    letter-spacing: -0.6px;
  }

  .b2 {
    gap: 5rem;
  }
}

@media screen and (max-width: 968px) {
  .b2 {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    padding: 2rem;
  }

  .content {
    gap: 5rem;
  }

  .imgContainer {
    height: 300px;
  }

  .b2Left {
    gap: 4rem;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    background-size: 5px 5px;
  }

  .imgContainer {
    height: 250px;
  }

  .overlay {
    background: rgba(0, 0, 0, 0);
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
