.container {
  background-color: var(--accent);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  border-top: 1px solid var(--blackii);
  border-bottom: 1px solid var(--blackii);
}

.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--black);
  z-index: 1;
}

.dot1 {
  top: 0;
  left: 0;
}

.dot2 {
  top: 0;
  right: 0;
  left: unset;
}

.dot3 {
  bottom: 0;
  left: 0;
  top: unset;
}

.dot4 {
  bottom: 0;
  right: 0;
  top: unset;
  left: unset;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  border-right: 1px solid var(--blackii);
}

.leftTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  border-bottom: 1px solid var(--blackii);
  padding: 10rem 5rem;
  width: 100%;
}

.leftBottom {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
}

.text {
  font-family: var(--RobotoCondensed);
  border-left: 5px solid var(--black);
  padding-left: 3rem;
}

.imgCaptionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.img {
  object-fit: cover;
  object-position: top;
  border: 2px solid var(--black);
}

.captionName,
.captionTitle {
  font-family: var(--GeistMono);
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--black);
  font-weight: bold;
  letter-spacing: 0.6px;
}

.captionTitle {
  color: var(--text);
}

.rightTop {
  padding: 5rem;
  /* border-bottom: 1px solid var(--blackii); */
}

.copy {
  color: var(--black);
  font-size: 2.2rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
  }

  .left {
    border-right: none;
    border-bottom: 1px solid var(--blackii);
  }

  .leftTop {
    border-bottom: none;
    padding: 3rem;
  }

  .rightTop {
    padding: 3rem;
  }

  .leftBottom {
    padding: 3rem;
  }

  .text {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .copy {
    font-size: 1.6rem;
  }
}
