.parent {
  border-top: 1px solid var(--lightGray);
  border-bottom: 1px solid var(--lightGray);
  position: relative;
  margin-top: 10rem;
}

.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--black);
  z-index: 1;
}

.dot1 {
  top: 0;
  left: 0;
}

.dot2 {
  top: 0;
  right: 0;
  left: unset;
}

.dot3 {
  bottom: 0;
  left: 0;
  top: unset;
}

.dot4 {
  bottom: 0;
  right: 0;
  top: unset;
  left: unset;
}

.content {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.accent {
  color: var(--accent);
}

.copy {
  color: var(--text);
  width: 90%;
}

.topRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 800px;
}

.img {
  object-fit: cover;
  object-position: top;
}

.imgCaptionTitle {
  font-family: var(--GeistMono);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: right;
}

.imgCaptionDesc {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: var(--GeistMono);
  color: var(--text);
  margin-top: -1.5rem;
  text-align: right;
  width: 80%;
}


.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 1rem;
  margin-top: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
  padding: 3rem;
  border: 1px solid var(--lightGray);
  background-color: var(--lightGrayiii);
  position: relative;
}

.card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.03;
  pointer-events: none;
  background: url("/images/noise.gif");
  background-size: cover;
}

.card .dot1 {
  top: 10px;
  left: 10px;
}

.card .dot4 {
  bottom: 10px;
  right: 10px;
}

.card:nth-child(4) {
  background-color: transparent;
  border: none;
  display: hidden;
}

.card:nth-child(4) .dot1,
.card:nth-child(4) .dot4 {
  display: none;
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid var(--accent); */
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

.icon {
  color: var(--green3);
  width: 2rem;
  height: 2rem;
}

.title,
.dates,
.desc {
  color: var(--tan);
}

.title {
  /* font-weight: 500; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.company {
  color: var(--green3);
  font-family: var(--PerfectlyNinetiesItalic);
  font-size: 2.5rem;
}

.desc {
  font-size: 1.6rem;
  color: var(--text);
}



@media screen and (max-width: 1268px) {
  .content {
    padding: 10rem 3rem;
  }

  .top {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .copy {
    width: 100%;
  }

  .bottom {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  /* .bottom {
    grid-template-columns: repeat(1, 1fr);
  } */

  .imgContainer {
    width: 100%;
    height: 700px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 5rem 2rem;
  }

  .top {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 400px;
  }

  .card {
    border: 1px solid var(--lightGray);
    gap: 2rem;
  }

  .card:nth-child(4) {
    display: none;
  }
}
