.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.logo {
  width: 29px;
  height: 17px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.text {
  font-size: 1.8rem;
  color: var(--white);
  font-family: var(--GeistMono);
  line-height: 1;
  text-transform: uppercase;
}
