.container {
  background-color: var(--white);
}

.content {
  border-top: 1px solid var(--lightGray);
  border-bottom: 1px solid var(--lightGray);
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 10rem;
  /* grid-gap: 5rem; */
}

.top {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
  border-bottom: 1px solid var(--lightGray);
  position: relative;
}

.dot1,
.dot2 {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--black);
  z-index: 1;
}

.dot1 {
  top: 0;
  left: 0;
}

.dot2 {
  top: 0;
  right: 0;
  left: unset;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.topRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.copy {
  color: var(--text);
  max-width: 500px;
}
.accent {
  color: var(--black);
}

.imgContainer1::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 150px;
  border-radius: 300px 300px 0 0;
  background-color: var(--accent);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid var(--lightGray);

}

.bottomLeft {
  border-right: 1px solid var(--lightGray);
}

.qaContainer {
  padding: 2rem;
  border-bottom: 1px solid var(--lightGray);
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in-out;
}

.qaContainer:last-child {
  border-bottom: none;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

/* .qaContainer.show {
  background-color: var(--black);
} */

.headingArrowContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.h3Container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayiii);
  width: 3.5rem;
  height: 3.5rem;
  /* border-radius: 50%; */
  margin-left: auto;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
  transform: rotate(45deg);
}

.iconFlip {
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
}

.arrowContainer:has(.iconFlip) {
  background-color: var(--accent);
}

.question {
  font-size: 1.4rem;
  font-family: var(--GeistMono);
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.answer {
  margin-top: 2rem;
  font-family: var(--GeistMono);
  text-transform: uppercase;
  color: var(--text);
  font-size: 1.4rem;
  line-height: 1.4;
}

@media screen and (max-width: 1268px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 10rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .top {
    padding: 5rem 2rem;
    /* padding-bottom: 0rem; */
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }

  .bottomLeft {
    display: none;
  }

  /* .content {
    gap: 2rem;
  } */
}
