.container {
  background-color: var(--white);
}

.content {
  border-top: 1px solid var(--lightGray);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

.top {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  border-bottom: 1px solid var(--lightGray);
  position: relative;
}

.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--black);
  z-index: 1;
}

.dot1 {
  top: 0;
  left: 0;
}

.dot2 {
  top: 0;
  right: 0;
  left: unset;
}

.dot3 {
  bottom: 0;
  left: 0;
  top: unset;
}

.dot4 {
  bottom: 0;
  right: 0;
  top: unset;
  left: unset;
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.topRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.copy {
  color: var(--text);
  max-width: 500px;
}
.accent {
  color: var(--black);
}

.imgContainer1::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 150px;
  border-radius: 300px 300px 0 0;
  background-color: var(--accent);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 2rem; */
  gap: 1rem;
}

.qaContainer {
  padding: 2rem;
  background-color: var(--lightGray);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in-out;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.qaContainer.show {
  background-color: var(--black);
}

.headingArrowContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.h3Container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayiii);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-left: auto;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
  /* border: 1px solid var(--lighterGray); */
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
  transform: rotate(45deg);
}

.iconFlip {
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
}

.arrowContainer:has(.iconFlip) {
  background-color: var(--accent);
}

.question {
  font-size: 1.6rem;
  font-family: var(--SuisseIntlMedium);
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  line-height: 1.5;
}

.answer {
  margin-top: 2rem;
  color: var(--darkGray);
  font-size: 1.4rem;
  line-height: 1.4;
  /* background-color: var(--white); */
  /* padding: 1rem; */
  /* border-radius: 7px; */
}

.qaContainer.show .question {
  color: var(--white);
}

.qaContainer.show .answer {
  color: var(--lightGray);
}

.titleHeading {
  letter-spacing: -5px;
  font-size: 15rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .imgContainer1 {
    height: 350px;
    width: 100%;
  }

  .copy {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .content {
    gap: 2rem;
  }
}
