.quotaPill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  background-color: var(--white);
  border: 1px solid var(--grayii);
  border-left: 6px solid var(--lightGray);
  width: fit-content;
  max-width: 100%;
}

.quotaPillWarning {
  border-left-color: #f59e0b;
  background-color: rgb(245 158 11 / 4%);
}

.quotaPillDanger {
  border-left-color: #ef4444;
  background-color: rgb(239 68 68 / 5%);
}

@media screen and (max-width: 900px) {
  .quotaWrap {
    padding: 3rem 2rem 0;
  }

  .quotaPill {
    padding: 2rem;
  }
}
