.container {
  background-color: var(--black);
  /* padding: 10rem 0rem; */
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.heading {
  color: var(--white);
}

.copy {
  color: var(--white);
}
